%h2 Заказ оформлен
%p
  = @order.name 
  Благодарим за заказ.
  Вы заказали:

  = render partial: 'line_items/line_item_mail', collection: @order.line_items, as: :line_item

%b Мы свяжемся с вами, когда заказ будет отправлен.
