#sidebar
  %ul.nav.nav-stacked.nav-pills
    %li= link_to 'Section1', "#"
    %li= link_to 'Section2', "#"
    %li= link_to 'Section3', "#"

  - unless ['sessions', 'registrations', 'users', 'carts', 'admin'].include? (controller.controller_name)
    #cart  
      = render partial: 'carts/cart', object: @cart
