!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Untitled Document
  %body
    %div{align: "center", style: "width:100%;"}
      %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
        %tr
          %td{align: "center", bgcolor: "#ff0066;", style: "background-color:#ff0066;", valign: "top"}
            %table{border: "0", cellpadding: "0", cellspacing: "0", width: "600"}
              %tr
                %td{align: "left", bgcolor: "#000000", style: "background-color:#000000;", valign: "top", width: "20"}  
                %td{align: "center", bgcolor: "#000000", style: "background-color:#000000; color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;", valign: "top"}
                  %br/
                  %br/
                  %br/
                  %div{style: "color:#ff0066; font-family:Georgia, Times New Roman, Times, serif; font-size:24px;"}
                    ECOMMÊ
                    %br/
                    demo e-commerce application
                  %br/
                  %br/
                  %img{height: "163", src: "assets/images/flame.gif", style: "display:block;", width: "117"}/
                  %br/
                  %br/
                  %br/
                  %table{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
                    %tr
                      %td{align: "center", valign: "middle"}
                        %img{alt: "", height: "5", src: "divider.gif", width: "544"}/
                    %tr
                      %td{align: "center", height: "65", valign: "middle"}
                        %div{style: "color:#FFFFFF; font-size:28px; font-family:Arial, Helvetica, sans-serif;"} Ecommê notifies You:
                    %tr
                      %td{align: "center", valign: "middle"}
                        %img{alt: "", height: "5", src: "divider.gif", width: "544"}/
                  %br/
                  %br/
                  %div{style: "color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:16px;"}
                    = yield
                  %br/
                  %br/
                  %br/
                  %div{style: "color:#7b7b7b; font-family:Arial, Helvetica, sans-serif; font-size:14px;"}
                    %b 24, Tokyo, Japan. ~(^_^)~
                    %br/
                    V.Ilinicz
                    %br/
                    Phone: (123) 456-789
                    %br/
                    Email: ecomme@example.com
                    %br/
                    Website: ecomme.herokuapp.com
                  %br/
                  %br/
                  %br/
                  %br/
                  %br/
                %td{align: "left", bgcolor: "#000000", style: "background-color:#000000;", valign: "top", width: "20"} 